html {
  font-size: 62.5%; }

body {
  font: 1.6rem/1.25 "Program OT", Arial, sans-serif;
  background: #FFF;
  color: #FFF; }

header,
section,
footer {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }

a {
  color: #db9935; }

section {
  border: 2px solid red; }

header {
  border: 2px solid blue;
  background: #222222; }

footer {
  border: 2px solid green;
  background: #222222; }

.wrapper {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid green; }

h1 {
  font-size: 2rem;
  display: inline-block;
  border: 2px solid green;
  float: left; }
  h1 img {
    max-width: 2rem;
    max-height: 2rem;
    position: relative;
    bottom: -.1rem; }

nav li {
  display: inline-block;
  border: 2px solid green;
  float: right;
  position: relative;
  bottom: -.2rem; }

nav::after {
  content: "";
  display: block;
  clear: left; }
