.albumlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  li {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    text-decoration: none;
    position: relative;
    @extend %center-element;
    background: $textbackground;
    width: 95%;
    height: 10rem;
    margin-bottom: 2rem;

    a {
      display: block;
      text-indent: -9999px;
      position: absolute;
      @include width-height (100%, 100%);
      bottom: 0;
    }
    img {
      height: 100%;
      margin-right: 2rem;
    }
    p {
      width: 100%;
      font-size: 1.2rem;
    }

    @include mq(medium) {
      width: calc(100% / 3 - 4rem);
      height: auto;
      margin-bottom: 3rem;
      padding: 1rem;
      margin-bottom: 3rem;

      flex-direction: row;

      &:not(:nth-of-type(3n)) {
        margin-right: 2rem;
      }

      img {
        align-self: flex-start;
        width: 100%;
        height: auto;
        margin: auto;
      }

      h3, p {
        margin-top: .5rem;
        margin-bottom: 0rem;
      }

      h3 {
        font-size: 1.2rem;
      }
      p {
        font-size: 1rem;
      }
    }
    @include mq(large){
      h3 {
        font-size: 1.6rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
}
