.wrapper {
  // @extend %center-element;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

a.menu-link{
		    order: 3;
        width: 2rem;
      	height: 2rem;
      	text-indent: -9999px;

        background-image: url('../images/hamburger.png');
        background-repeat: no-repeat;
        background-size: auto 2rem;
        margin-bottom: 1rem;
		}

		.js nav[role=navigation] {
			overflow: hidden;
			max-height: 0;
      max-width: 100%;
		}

		nav[role=navigation].active {
			height: 200px;
      width: 100%;
      max-height: 100%;
      overflow: visible;
      top: 5rem;
		}

		nav[role=navigation] ul {
			padding: 0;
      background: $textbackground;
		}

    nav[role=navigation] li {
      margin-right: 3rem;
    }

		nav[role=navigation] li a {
      font-size: 2rem;
      text-align: right;
			display: block;
			padding: 0.8em;
      width: 100%;
		}

    nav::after{
      content: "";
    }

		@include mq(medium){

			a.menu-link {
			   display: none;
			}
			.js nav[role=navigation] {
				max-height: none;
			}
			nav[role=navigation] ul {
        display: flex;
        flex-direction: row;
				margin: 0 0 0 -0.25em;
				border: 0;
        background: none;
			}
			nav[role=navigation]  li {
				margin-right: 1rem;
			}
			nav[role=navigation] li a {
				border: 0;
        font-size: 1.2rem;
			}
		}
